<section class="ct_login_bg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-xl-10 col-lg-10 col-md- mx-auto">
                <div class="ct_login_white_bg ct_mt_60 ct_mb_60">

                    <div class="ct_login_form">

                        <div class="text-center">
                            <h4 class="ct_fs_28 ct_fw_700 ct_ff_Rajdhani">Forgot Password</h4>
                            <p class="ct_text_op_07">Enter your registered email address and we'll send you a link to
                                reset your password.</p>
                        </div>
                        <form action="" class="mt-4">
                            <div class="form-group mb-3">
                                <label for="" class="ct_fw_400 mb-2 ct_text_666 ">Email address</label>
                                <div class="position-relative">
                                    <input type="text" class="form-control ct_input ct_border_grey ct_input_ps_50"
                                        placeholder="Email address">
                                    <img src="assets/img/mail_icon.svg" alt="" class="ct_input_left">
                                </div>
                            </div>

                            <div class="mt-5">
                                <a href="javascript:void(0)" type="button" class="ct_dark_green_btn w-100">Send Reset
                                    Link</a>
                            </div>
                            <p class="mb-0 mt-2 text-center ">Already know your password? <a href="login.html"
                                    class="ct_forgot_link ct_fw_600">Log In</a></p>
                        </form>
                    </div>
                    <div class="ct_login_left_img">
                        <img src="assets/img/login_right_img.png" alt="">
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>