<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between mb-3 ct_flex_col_767 gap-3">
                    <h4 class="ct_fs_28 ct_fw_600 mb-0 ct_ff_Rajdhani">Seller Management</h4>
                    <div class="d-flex align-items-center gap-2 ct_w_100_767 ct_flex_col_767">
                        <div class="ct_search ct_w_100_767">
                            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText"
                                (input)="filterTable()" />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="form-group ct_w_100_767">
                            <select id="statusFilter"
                                class="form-control ct_h_40 ct_border_radius_10 ct_input ct_w_100_767 w-auto d-inline-block"
                                [(ngModel)]="selectedStatus" (change)="filterTable()">
                                <option value="" disabled>Select Status</option>
                                <option value="ALL">All</option>
                                <option value="APPROVED">Approved</option>
                                <option value="PENDING">Pending</option>
                                <option value="REJECTED">Rejected</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade active show" id="pills-All" role="tabpanel"
                            aria-labelledby="pills-All-tab">
                            <div class="table-responsive ct_custom_table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Application Id</th>
                                            <th>Business Name</th>
                                            <th>Seller Name</th>
                                            <th>Application Date</th>
                                            <th>Status</th>
                                            <th>Block</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="filteredData.length == 0">
                                            <td colspan="8" class="text-center">No seller found</td>
                                        </tr>
                                        <tr
                                            *ngFor="let item of filteredData | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{item.application_id}}</td>
                                            <td>
                                                {{item.business_name}}
                                            </td>
                                            <td>{{item.full_name}}</td>
                                            <td>{{item.created_at | date:'dd-MMM-yyyy'}}</td>
                                            <td>
                                                @if(item.seller_status == 'APPROVED'){
                                                <span class="ct_green_clr ct_fw_600">Accepted</span>
                                                } @else if(item.seller_status == 'REJECTED') {
                                                <span class="ct_red_clr ct_fw_600">Rejected</span>
                                                } @else if (item.seller_status == 'PENDING') {
                                                <span class="ct_orange_clr ct_fw_600">Pending</span>
                                                }
                                            </td>
                                            <td>
                                                <label class="toggle-switch">
                                                    <input type="checkbox" [(ngModel)]="item.is_banned"
                                                        [ngModel]="item.is_banned == '1'"
                                                        (click)="handleCheckboxChange(item)">
                                                    <div class="toggle-switch-background">
                                                        <div class="toggle-switch-handle"></div>
                                                    </div>
                                                </label>
                                                <!-- [disabled]="item.seller_status == 'PENDING' || item.seller_status == 'REJECTED'" -->
                                            </td>
                                            <td>
                                                <a [routerLink]="['/home/view-seller']"
                                                    [queryParams]="{ seller_id: item.user_id }" class="ct_text_39A1FF">
                                                    <i class="fa-solid fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <pagination-controls class="ct_pagination_div" *ngIf="!(data?.length == 0)"
                                (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>