<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between mb-3 ct_flex_col_575 gap-3">
                    <h4 class="ct_fs_28 ct_fw_600 mb-0 ct_ff_Rajdhani">Group Management</h4>
                    <div class="d-flex align-items-center gap-2 ct_w_100_575">
                        <div class="ct_search ct_w_100_575">
                            <input type="text" class="form-control" placeholder="Search by group name..." />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>

                    </div>
                </div>
                <div class="table-responsive ct_custom_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Group Image</th>
                                <th>Group Name</th>
                                <th>Total Members</th>
                                <th>Created On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <img src="assets/img/group_img.jpg" alt="" class="ct_img_40 ct_cursor_pointer"
                                        data-bs-toggle="modal" data-bs-target="#full_view_img">
                                </td>
                                <td>
                                    Fairway Legends Club
                                </td>
                                <td>13</td>
                                <td>Feb 23, 2024</td>

                                <td>
                                    <a href="javascript:void(0)" class="ct_red_clr" data-bs-toggle="modal"
                                        data-bs-target="#ct_delete_modal">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <img src="assets/img/group_img.jpg" alt="" class="ct_img_40 ct_cursor_pointer"
                                        data-bs-toggle="modal" data-bs-target="#full_view_img">
                                </td>
                                <td>
                                    Fairway Legends Club
                                </td>
                                <td>13</td>
                                <td>Feb 23, 2024</td>

                                <td>
                                    <a href="javascript:void(0)" class="ct_red_clr" data-bs-toggle="modal"
                                        data-bs-target="#ct_delete_modal">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <img src="assets/img/group_img.jpg" alt="" class="ct_img_40 ct_cursor_pointer"
                                        data-bs-toggle="modal" data-bs-target="#full_view_img">
                                </td>
                                <td>
                                    Fairway Legends Club
                                </td>
                                <td>13</td>
                                <td>Feb 23, 2024</td>

                                <td>
                                    <a href="javascript:void(0)" class="ct_red_clr" data-bs-toggle="modal"
                                        data-bs-target="#ct_delete_modal">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    <img src="assets/img/group_img.jpg" alt="" class="ct_img_40 ct_cursor_pointer"
                                        data-bs-toggle="modal" data-bs-target="#full_view_img">
                                </td>
                                <td>
                                    Fairway Legends Club
                                </td>
                                <td>13</td>
                                <td>Feb 23, 2024</td>

                                <td>
                                    <a href="javascript:void(0)" class="ct_red_clr" data-bs-toggle="modal"
                                        data-bs-target="#ct_delete_modal">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>
                                    <img src="assets/img/group_img.jpg" alt="" class="ct_img_40 ct_cursor_pointer"
                                        data-bs-toggle="modal" data-bs-target="#full_view_img">
                                </td>
                                <td>
                                    Fairway Legends Club
                                </td>
                                <td>13</td>
                                <td>Feb 23, 2024</td>

                                <td>
                                    <a href="javascript:void(0)" class="ct_red_clr" data-bs-toggle="modal"
                                        data-bs-target="#ct_delete_modal">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>