<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <h4 class="ct_fs_28 ct_ff_Rajdhani mb-4 ct_fw_600">Sweepstakes</h4>
        <div class="row">
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">40</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Active Sweepstakes

                        </h6>
                    </div>
                    <div>
                        <img src="assets/img/active_sweep_staks_icon.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">455</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Total Entries
                        </h6>
                    </div>
                    <div>
                        <img src="assets/img/total_entries_icon.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">$3566</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Total Revenue

                        </h6>
                    </div>
                    <div>
                        <img src="assets/img/total_earning_icon.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">3</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Winners Announced
                        </h6>
                    </div>
                    <div>
                        <img src="assets/img/winner_anounced_icon.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-md-12">
                <div class="d-flex align-items-center gap-3 justify-content-between mb-4">
                    <h4 class="ct_fs_20 ct_fw_600">All Sweepstakes</h4>
                    <a routerLink="/home/add-sweepstakes" class="ct_outline_btn ct_fw_600"><i
                            class="fa-solid fa-plus me-2"></i> Create Sweepstake</a>
                </div>
                <div class="table-responsive ct_custom_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Sweepstake Name </th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Entries</th>
                                <th>Revenue</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <span class="ct_overlay_text">Callaway Driver Sweepstake</span>
                                </td>
                                <td>30 Jun 2025</td>
                                <td>3 July 2025</td>
                                <td>55</td>
                                <td>$12,999</td>
                                <td>
                                    <span class="ct_green_clr ct_fw_600">Active</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center gap-3">
                                        <a routerLink="/home/view-sweepstakes" class="ct_text_39A1FF">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <a routerLink="/home/add-sweepstakes" class="text-dark">
                                            <i class="fa-solid fa-pen"></i>
                                        </a>

                                        <a href="javascript:void(0)" class="ct_red_clr" data-bs-toggle="modal"
                                            data-bs-target="#ct_delete_modal">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <span class="ct_overlay_text">Callaway Driver Sweepstake</span>
                                </td>
                                <td>30 Jun 2025</td>
                                <td>3 July 2025</td>
                                <td>55</td>
                                <td>$12,999</td>
                                <td>
                                    <span class="ct_blue_clr ct_fw_600">Completed</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center gap-3">
                                        <a href="view-sweepstake.html" class="ct_text_39A1FF">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>


                                        <a href="javascript:void(0)" class="ct_red_clr" data-bs-toggle="modal"
                                            data-bs-target="#ct_delete_modal">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <span class="ct_overlay_text">Callaway Driver Sweepstake</span>
                                </td>
                                <td>30 Jun 2025</td>
                                <td>3 July 2025</td>
                                <td>55</td>
                                <td>$12,999</td>
                                <td>
                                    <span class="ct_green_clr ct_fw_600">Active</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center gap-3">
                                        <a href="view-sweepstake.html" class="ct_text_39A1FF">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <a href="edit-sweepstake.html" class="text-dark">
                                            <i class="fa-solid fa-pen"></i>
                                        </a>

                                        <a href="javascript:void(0)" class="ct_red_clr" data-bs-toggle="modal"
                                            data-bs-target="#ct_delete_modal">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    <span class="ct_overlay_text">Callaway Driver Sweepstake</span>
                                </td>
                                <td>30 Jun 2025</td>
                                <td>3 July 2025</td>
                                <td>55</td>
                                <td>$12,999</td>
                                <td>
                                    <span class="ct_blue_clr ct_fw_600">Completed</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center gap-3">
                                        <a href="view-sweepstake.html" class="ct_text_39A1FF">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>

                                        <a href="javascript:void(0)" class="ct_red_clr" data-bs-toggle="modal"
                                            data-bs-target="#ct_delete_modal">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>
                                    <span class="ct_overlay_text">Callaway Driver Sweepstake</span>
                                </td>
                                <td>30 Jun 2025</td>
                                <td>3 July 2025</td>
                                <td>55</td>
                                <td>$12,999</td>
                                <td>
                                    <span class="ct_blue_clr ct_fw_600">Completed</span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center gap-3">
                                        <a href="view-sweepstake.html" class="ct_text_39A1FF">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>


                                        <a href="javascript:void(0)" class="ct_red_clr" data-bs-toggle="modal"
                                            data-bs-target="#ct_delete_modal">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>