<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">4759</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Total Users
                        </h6>
                    </div>
                    <div>
                        <img src="assets/img/total_user_icon.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">455</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Total Businesses
                        </h6>
                    </div>
                    <div>
                        <img src="assets/img/total_business_icon.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">1856</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Products Listed
                        </h6>
                    </div>
                    <div>
                        <img src="assets/img/total_order_icon.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">85</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Posts Uploaded
                        </h6>
                    </div>
                    <div>
                        <img src="assets/img/post_uploaded_icon.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-7 mb-4">
                <div class="ct_white_bg">
                    <div class="d-flex align-items-center justify-content-between gap-3">
                        <h2 class="ct_fs_20 mb-0 ct_fw_600">Sales Overview</h2>
                        <select id="chartType" class="ct_transparent_select" onchange="updateChart()">
                            <option value="yearly">Yearly</option>
                            <option value="monthly">Monthly</option>
                        </select>
                    </div>

                    <div class="ct_mt_40" id="chart2"></div>
                </div>
            </div>
            <div class="col-xl-5 mb-4">
                <div class="ct_white_bg">
                    <div class="d-flex align-items-center justify-content-between gap-3">
                        <h2 class="ct_fs_20 mb-0 ct_fw_600">Sales by Category</h2>
                    </div>

                    <div class="ct_mt_40" id="myDonutChartId"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ct_white_bg p-4">
                    <div class="d-flex align-items-center justify-content-between mb-3 flex-wrap gap-3">
                        <h4 class="mb-0 ct_fs_20 ct_fw_600">
                            Recently Uploaded Posts
                        </h4>
                        <a routerLink="/home/post-management" class="ct_forgot_link ct_fw_600">View All</a>
                    </div>

                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6 mb-4 md-xl-0" *ngFor="let post of data">
                            <figure class="ct_live_card">
                                <div class="ct_live_img">

                                    <!-- Show thumbnail if it's a video -->
                                    <img *ngIf="post.media_type == 'VIDEO'"
                                        [src]="post.thumbnail && post.thumbnail.length ? post.thumbnail[0] : 'assets/img/default-thumbnail.jpg'"
                                        alt="Video Thumbnail" />

                                    <!-- Show first image if it's an image post -->
                                    <img *ngIf="post.media_type == 'IMAGE'"
                                        [src]="post.image && post.image.length ? post.image[0] : 'assets/img/default-image.jpg'"
                                        alt="Post Image" />

                                    <div class="ct_live_overlay_cnt">
                                        <ul>
                                            <li>❤ {{ post.total_likes }}</li>
                                            <li>💬 {{ post.total_comments }}</li>
                                            <!-- <li>👁 {{ post.total_views }}</li> -->
                                        </ul>
                                    </div>
                                </div>
                                <figcaption>
                                    <img [src]="post.profile_image ? post.profile_image : 'assets/img/resent_post_1.jpg'" alt="" />
                                    <div>
                                        <h4 class="ct_fs_18 ct_fw_700 mb-1 ct_overlay_text">
                                            {{ post.caption }}
                                        </h4>
                                        <p class="mb-0 ct_fw_600 ct_text_757575">
                                            {{ post.full_name }}
                                        </p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>