<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between mb-3 ct_flex_col_575 gap-3">
                    <h4 class="ct_fs_28 ct_fw_600 mb-0 ct_ff_Rajdhani">Product Management</h4>
                    <div class="d-flex align-items-center gap-2 ct_w_100_575">
                        <div class="ct_search ct_w_100_575">
                            <input type="text" class="form-control" placeholder="Search by product name..." />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>

                    </div>
                </div>
                <div class="table-responsive ct_custom_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Product </th>
                                <th>Seller Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total Sales</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>

                                <td>
                                    <span class="ct_overlay_text">Shot Scope</span>
                                </td>
                                <td>John Doe</td>
                                <td>$12,999</td>
                                <td>568</td>
                                <td>$32,999</td>
                                <td>
                                    <div class="d-flex align-items-center gap-3">
                                        <a routerLink="/home/view-product" class="ct_text_39A1FF">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <a href="javascript:void(0)" class="ct_red_clr" data-bs-toggle="modal"
                                            data-bs-target="#ct_delete_modal">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <span class="ct_overlay_text">Shot Scope</span>
                                </td>
                                <td>John Doe</td>
                                <td>$12,999</td>
                                <td>568</td>
                                <td>$32,999</td>
                                <td>
                                    <div class="d-flex align-items-center gap-3">
                                        <a href="view-product.html" class="ct_text_39A1FF">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <a href="javascript:void(0)" class="ct_red_clr" data-bs-toggle="modal"
                                            data-bs-target="#ct_delete_modal">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <span class="ct_overlay_text">Shot Scope</span>
                                </td>
                                <td>John Doe</td>
                                <td>$12,999</td>
                                <td>568</td>
                                <td>$32,999</td>
                                <td>
                                    <div class="d-flex align-items-center gap-3">
                                        <a href="view-product.html" class="ct_text_39A1FF">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <a href="javascript:void(0)" class="ct_red_clr" data-bs-toggle="modal"
                                            data-bs-target="#ct_delete_modal">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    <span class="ct_overlay_text">Shot Scope</span>
                                </td>
                                <td>John Doe</td>
                                <td>$12,999</td>
                                <td>568</td>
                                <td>$32,999</td>
                                <td>
                                    <div class="d-flex align-items-center gap-3">
                                        <a href="view-product.html" class="ct_text_39A1FF">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <a href="javascript:void(0)" class="ct_red_clr" data-bs-toggle="modal"
                                            data-bs-target="#ct_delete_modal">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>
                                    <span class="ct_overlay_text">Shot Scope</span>
                                </td>
                                <td>John Doe</td>
                                <td>$12,999</td>
                                <td>568</td>
                                <td>$32,999</td>
                                <td>
                                    <div class="d-flex align-items-center gap-3">
                                        <a href="view-product.html" class="ct_text_39A1FF">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <a href="javascript:void(0)" class="ct_red_clr" data-bs-toggle="modal"
                                            data-bs-target="#ct_delete_modal">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>