<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <h4 class="ct_fs_28 ct_fw_600 mb-4 ct_ff_Rajdhani">Marketplace Sales</h4>
        <div class="row">
            <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">$12,341</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Total Sales
                        </h6>
                    </div>
                    <div>
                        <img src="assets/img/total_earning_icon.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">479</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Total Orders
                        </h6>
                    </div>
                    <div>
                        <img src="assets/img/total_listing_icon.svg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">$67.5</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Average Order
                        </h6>

                    </div>
                    <div>
                        <img src="assets/img/pending_order_icon.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xxl-8 col-xl-7 mb-4 mb-xl-0">
                <div class="ct_outline_bg">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h4 class="ct_fs_20 ct_fw_600 mb-0">Sales Overview</h4>
                        <div>
                            <select class="form-control ct_transparent_select">
                                <option value="">This Year</option>
                            </select>
                        </div>
                    </div>

                    <div id="chart"></div>

                </div>

            </div>
            <div class="col-xxl-4 col-xl-5 mb-4 mb-xl-0">
                <div class="ct_outline_bg h-100 pe-0">
                    <h4 class="ct_fs_20 ct_fw_600 mb-4">Top Selling Products</h4>
                    <ul class="ct_seeling_products_list ct_custom_scrollbar ct_pe_30">
                        <li>
                            <div class="d-flex align-items-center gap-3 ct_mt_20">
                                <img src="assets/img/product_img_1.png" alt="" class="ct_img_w_90 ct_cursor_pointer"
                                    data-bs-toggle="modal" data-bs-target="#full_view_img">
                                <div class="ct_flex_1 ">
                                    <h5 class="ct_fs_18 ct_fw_600 mb-0 ct_ff_lato ct_overlay_text">Shot Scope</h5>
                                    <p class="ct_fs_16  ct_text_6E6F76 mb-1 ct_white_nowrap">Units Sold: 34</p>
                                    <h4 class="ct_fw_600 ct_fs_16 ct_text_018180 ct_white_nowrap">Revenue:
                                        <span>$14,200</span>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center gap-3 ct_mt_20">
                                <img src="assets/img/product_img_1.png" alt="" class="ct_img_w_90 ct_cursor_pointer"
                                    data-bs-toggle="modal" data-bs-target="#full_view_img">
                                <div class="ct_flex_1 ">
                                    <h5 class="ct_fs_18 ct_fw_600 mb-0 ct_ff_lato ct_overlay_text">Shot Scope</h5>
                                    <p class="ct_fs_16  ct_text_6E6F76 mb-1 ct_white_nowrap">Units Sold: 34</p>
                                    <h4 class="ct_fw_600 ct_fs_16 ct_text_018180 ct_white_nowrap">Revenue:
                                        <span>$14,200</span>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center gap-3 ct_mt_20">
                                <img src="assets/img/product_img_1.png" alt="" class="ct_img_w_90 ct_cursor_pointer"
                                    data-bs-toggle="modal" data-bs-target="#full_view_img">
                                <div class="ct_flex_1 ">
                                    <h5 class="ct_fs_18 ct_fw_600 mb-0 ct_ff_lato ct_overlay_text">Shot Scope</h5>
                                    <p class="ct_fs_16  ct_text_6E6F76 mb-1 ct_white_nowrap">Units Sold: 34</p>
                                    <h4 class="ct_fw_600 ct_fs_16 ct_text_018180 ct_white_nowrap">Revenue:
                                        <span>$14,200</span>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center gap-3 ct_mt_20">
                                <img src="assets/img/product_img_1.png" alt="" class="ct_img_w_90 ct_cursor_pointer"
                                    data-bs-toggle="modal" data-bs-target="#full_view_img">
                                <div class="ct_flex_1 ">
                                    <h5 class="ct_fs_18 ct_fw_600 mb-0 ct_ff_lato ct_overlay_text">Shot Scope</h5>
                                    <p class="ct_fs_16  ct_text_6E6F76 mb-1 ct_white_nowrap">Units Sold: 34</p>
                                    <h4 class="ct_fw_600 ct_fs_16 ct_text_018180 ct_white_nowrap">Revenue:
                                        <span>$14,200</span>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center gap-3 ct_mt_20">
                                <img src="assets/img/product_img_1.png" alt="" class="ct_img_w_90 ct_cursor_pointer"
                                    data-bs-toggle="modal" data-bs-target="#full_view_img">
                                <div class="ct_flex_1 ">
                                    <h5 class="ct_fs_18 ct_fw_600 mb-0 ct_ff_lato ct_overlay_text">Shot Scope</h5>
                                    <p class="ct_fs_16  ct_text_6E6F76 mb-1 ct_white_nowrap">Units Sold: 34</p>
                                    <h4 class="ct_fw_600 ct_fs_16 ct_text_018180 ct_white_nowrap">Revenue:
                                        <span>$14,200</span>
                                    </h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>


        <div class="row mt-5">
            <div class="col-md-12">
                <h4 class="ct_fs_20 ct_fw_600 mb-4">Recent Transactions</h4>
                <div class="table-responsive ct_custom_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Product </th>
                                <th>Seller</th>
                                <th>Date</th>
                                <th>Total Amount</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <span class="ct_overlay_text">Shot Scope</span>
                                </td>
                                <td>Alton Rodriguez</td>
                                <td>Feb 23, 2024</td>
                                <td> $12,999</td>
                                <td>
                                    <span class="ct_orange_clr ct_fw_600">Pending</span>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <span class="ct_overlay_text">Shot Scope</span>
                                </td>
                                <td>Alton Rodriguez</td>
                                <td>Feb 23, 2024</td>
                                <td> $12,999</td>
                                <td>
                                    <span class="ct_green_clr ct_fw_600">Completed </span>

                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <span class="ct_overlay_text">Shot Scope</span>
                                </td>
                                <td>Alton Rodriguez</td>
                                <td>Feb 23, 2024</td>
                                <td> $12,999</td>
                                <td>
                                    <span class="ct_orange_clr ct_fw_600">Pending</span>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    <span class="ct_overlay_text">Shot Scope</span>
                                </td>
                                <td>Alton Rodriguez</td>
                                <td>Feb 23, 2024</td>
                                <td> $12,999</td>
                                <td>
                                    <span class="ct_orange_clr ct_fw_600">Pending</span>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>
                                    <span class="ct_overlay_text">Shot Scope</span>
                                </td>
                                <td>Alton Rodriguez</td>
                                <td>Feb 23, 2024</td>
                                <td> $12,999</td>
                                <td>
                                    <span class="ct_orange_clr ct_fw_600">Pending</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>