<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_575">
                    <h4 class="d-flex align-items-center gap-2 ct_fw_600 ct_ff_Rajdhani mb-0">
                        <a routerLink="/home/seller-management" class="ct_black_text"><i
                                class="fa-solid fa-angle-left"></i></a>Seller Details
                    </h4>
                    @if(sellerData?.seller_status == 'APPROVED'){
                    <span class="ct_custom_badge" style="color: #008000; background-color: #00800026;">Accepted</span>
                    } @else if(sellerData?.seller_status == 'REJECTED') {
                    <span class="ct_custom_badge" style="color: #FF3B30; background-color: #FF3B3026;">Rejected</span>
                    } @else if (sellerData?.seller_status == 'PENDING') {
                    <span class="ct_custom_badge" style="color: #FF5E00; background-color: #FF5E0026;">Pending</span>
                    }
                </div>

                <div class="ct_pt_30 ct_pb_30">
                    <div class="ct_grey_bg d-flex align-items-start justify-content-between gap-3 flex-wrap">
                        <div class="d-flex align-items-center gap-3">
                            <img [src]="sellerData?.profile_image ? sellerData?.profile_image : 'assets/img/np_pro.png'"
                                alt="" class="ct_img_w_140 ct_cursor_pointer" data-bs-toggle="modal"
                                data-bs-target="#full_view_img" />
                            <div>
                                <h5 class="ct_fs_24 ct_fw_600 mb-0 ct_ff_lato">
                                    {{sellerData?.full_name}}
                                </h5>
                                <p class="mb-0 ct_text_666 ct_fw_600">
                                    {{sellerData?.email}}
                                </p>
                            </div>
                        </div>
                        <!-- <button class="ct_outline_btn ct_outline_btn_red ct_fw_600">Ban Business</button> -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="ct_white_bg p-4">
                            <div class="d-flex align-items-center gap-3 mb-5">
                                <img [src]="sellerData?.business_logo ? sellerData?.business_logo : 'assets/img/np_pro.png'"
                                    alt="" class="ct_img_w_90 ct_cursor_pointer" data-bs-toggle="modal"
                                    data-bs-target="#full_view_img1" />
                                <div>
                                    <p class="ct_fw_600 ct_fs_16 mb-1 ct_text_666">
                                        Business Description
                                    </p>
                                    <h5 class="ct_fs_18 ct_fw_600 mb-0 ct_ff_lato">
                                        {{sellerData?.business_description}}
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="mb-4">
                                        <h5 class="ct_fs_16 ct_fw_600 mb-2">
                                            Phone Number
                                        </h5>
                                        <p class="mb-0 ct_text_666">{{sellerData?.phone_number}}</p>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="mb-4">
                                        <h5 class="ct_fs_16 ct_fw_600 mb-2">Address</h5>
                                        <p class="mb-0 ct_text_666">
                                            {{sellerData?.business_address}}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="mb-4">
                                        <h5 class="ct_fs_16 ct_fw_600 mb-2">
                                            Business Name
                                        </h5>
                                        <p class="mb-0 ct_text_666">{{sellerData?.business_name}}</p>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="mb-4">
                                        <h5 class="ct_fs_16 ct_fw_600 mb-2">
                                            Business EIN
                                        </h5>
                                        <p class="mb-0 ct_text_666">{{sellerData?.business_ein}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- when user accepted and rejected then hide these buttons -->
                @if (sellerData?.seller_status == 'PENDING') {
                <div class="d-flex align-items-center gap-3 mt-4">
                    <button class="ct_green_btn px-4 px-sm-5" data-bs-toggle="modal"
                        data-bs-target="#ct_accept_modal_post">Accept</button>
                    <button class="ct_red_btn px-4 px-sm-5" data-bs-toggle="modal"
                        data-bs-target="#ct_reject_modal_post">Reject</button>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Image preview Modal S -->
<div class="modal fade modal-md" id="full_view_img" tabindex="-1" aria-labelledby="full_view_imgLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title ct_fs_24 ct_ff_QuattrocentoSans ct_fw_700 mb-0" id="full_view_imgLabel">
                    Image Preview
                </h5>
                <button type="button" class="btn-close ct_custom_close_img" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ct_full_view_img">
                    <img [src]="sellerData?.profile_image ? sellerData?.profile_image : 'assets/img/np_pro.png'"
                        alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Image preview Modal S -->
<div class="modal fade modal-md" id="full_view_img1" tabindex="-1" aria-labelledby="full_view_imgLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title ct_fs_24 ct_ff_QuattrocentoSans ct_fw_700 mb-0" id="full_view_imgLabel">
                    Image Preview
                </h5>
                <button type="button" class="btn-close ct_custom_close_img" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ct_full_view_img">
                    <img [src]="sellerData?.business_logo ? sellerData?.business_logo : 'assets/img/np_pro.png'"
                        alt="" />
                </div>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="ct_accept_modal_post" tabindex="-1" aria-labelledby="ct_delete_postLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body pt-5 pb-4">
                <div class="ct_delete_post_modal">
                    <figure>
                        <figcaption>
                            <h4 class="ct_fs_20 ct_fw_600 text-center">
                                Are you sure you want to accept this seller ?
                            </h4>
                        </figcaption>
                    </figure>
                    <div class="modal-footer justify-content-center border-0 ct_modal_footer">
                        <button type="button" class="ct_outline_btn w-100 ct_fw_600" data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <a (click)="accept()" class="ct_border_radius_10 ct_dark_green_btn w-100 ct_fw_600 text-center">
                            Yes
                        </a>
                        <button hidden type="button" class="btn btn-secondary" #closeModalAcc
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ct_reject_modal_post" tabindex="-1" aria-labelledby="ct_delete_postLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body pt-5 pb-4">
                <div class="ct_delete_post_modal">
                    <figure>
                        <figcaption>
                            <h4 class="ct_fs_20 ct_fw_600 text-center">
                                Are you sure you want to reject this seller ?
                            </h4>
                        </figcaption>
                    </figure>
                    <div class="modal-footer justify-content-center border-0 ct_modal_footer">
                        <button type="button" class="ct_outline_btn w-100 ct_fw_600" data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <a (click)="reject()" class="ct_border_radius_10 ct_dark_green_btn w-100 ct_fw_600 text-center">
                            Yes
                        </a>
                        <button hidden type="button" class="btn btn-secondary" #closeModalRej
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>