<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_575">
                    <h4 class="d-flex align-items-center gap-2 ct_fw_600 ct_ff_Rajdhani mb-0"><a
                           routerLink="/home/user-management" class="ct_black_text"><i
                                class="fa-solid fa-angle-left"></i></a>User Details</h4>
                </div>

                <div class="ct_pt_30  ct_pb_30">
                    <div class="ct_grey_bg">
                        <div class="d-flex align-items-center gap-3 ct_mt_20">
                            <img src="assets/img/user.jpg" alt="" class="ct_img_w_140 ct_cursor_pointer"
                                data-bs-toggle="modal" data-bs-target="#full_view_img">
                            <div>
                                <h5 class="ct_fs_24 ct_fw_600 mb-0 ct_ff_lato">John Anderson</h5>
                                <ul class="d-flex align-items-center gap-2 ct_fw_600 mt-2 ct_flex_col_575">
                                    <li class="ct_text_666 d-flex align-items-center gap-2">
                                        <img src="assets/img/grey_user_icon.svg" alt="">
                                        344 Followers
                                    </li>
                                    <li class="ct_text_666 d-flex align-items-center gap-2 ct_fw_600">
                                        <img src="assets/img/grey_user_icon.svg" alt="">
                                        144 Followings
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="ct_white_bg p-4">
                            <h4 class="ct_fs_24 ct_fw_600 mb-4">Personal Information</h4>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="mb-4">
                                        <h5 class="ct_fs_16 ct_fw_600 mb-2">Full Name</h5>
                                        <p class="mb-0  ct_text_666">John Anderson</p>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="mb-4">
                                        <h5 class="ct_fs_16 ct_fw_600 mb-2">Username</h5>
                                        <p class="mb-0  ct_text_666">johnanderson</p>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="mb-4">
                                        <h5 class="ct_fs_16 ct_fw_600 mb-2">Gender</h5>
                                        <p class="mb-0  ct_text_666">Male</p>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="mb-4">
                                        <h5 class="ct_fs_16 ct_fw_600 mb-2">About Him</h5>
                                        <p class="mb-0  ct_text_666 ct_para_scroll ct_custom_scroll">Passionate golfer
                                            with 15 years of experience. Love playing competitive matches and sharing
                                            tips with fellow golfers.</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="ct_white_bg p-4">
                            <h4 class="ct_fs_24 ct_fw_600 mb-4">Golf Statistics</h4>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="mb-4">
                                        <h5 class="ct_fs_16 ct_fw_600 mb-2">Handicap</h5>
                                        <p class="mb-0  ct_text_666">-2.5 (Lowest: -3.0)</p>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="mb-4">
                                        <h5 class="ct_fs_16 ct_fw_600 mb-2">Best Score</h5>
                                        <p class="mb-0  ct_text_666">68 at Pebble Beach (2023)</p>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="mb-4">
                                        <h5 class="ct_fs_16 ct_fw_600 mb-2">Favorite Golfer</h5>
                                        <p class="mb-0  ct_text_666">Tiger Woods</p>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="mb-4">
                                        <h5 class="ct_fs_16 ct_fw_600 mb-2">Courses Played</h5>
                                        <p class="mb-0  ct_text_666 ">Pebble Beach, Augusta National, Torrey Pines, St
                                            Andrews</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Image preview Modal S -->
<div class="modal fade modal-md" id="full_view_img" tabindex="-1" aria-labelledby="full_view_imgLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title ct_fs_24 ct_ff_QuattrocentoSans ct_fw_700 mb-0" id="full_view_imgLabel">
                    Image Preview
                </h5>
                <button type="button" class="btn-close ct_custom_close_img" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ct_full_view_img">
                    <img src="assets/img/user.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>