<section class="ct_login_bg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-xl-10 col-lg-10 col-md- mx-auto">
                <div class="ct_login_white_bg ct_mt_60 ct_mb_60">
                    <div class="ct_login_form">
                        <div class="text-center">
                            <h4 class="ct_fs_28 ct_fw_700 ct_ff_Rajdhani">Log In as Admin</h4>
                        </div>
                        <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                            <div class="form-group mb-3">
                                <label for="" class="ct_fw_400 mb-2 ct_text_666 ">Email address</label>
                                <!-- <div class="position-relative">
                                    <input type="text" class="form-control ct_input ct_border_grey ct_input_ps_50"
                                        placeholder="Email address">
                                    <img src="assets/img/mail_icon.svg" alt="" class="ct_input_left">
                                </div> -->
                                <div class="position-relative">
                                    <input type="email"
                                          class="form-control ct_input ct_border_grey ct_input_ps_50"
                                          placeholder="Enter email address" formControlName="email">
                                    <img src="assets/img/mail_icon.svg" alt="" class="ct_input_left">
                              </div>
                              <span class="ct_text_red mt-2">{{validationErrorService.getErrorMessage('Email',
                                    Form.get('email'))}}</span>
                            </div>
                            <div class="form-group mb-3">
                                <label for="" class="ct_fw_400 mb-2 ct_text_666 ">Password</label>
                                <div class="position-relative">
                                    <input type="{{ isPasswordVisible ? 'text' : 'password' }}"
                                        class="form-control ct_input ct_border_grey ct_input_ps_50"
                                        placeholder="Enter password" formControlName="password">
                                    <img src="assets/img/circum_lock.svg" alt="" class="ct_input_left">
                                    <!-- <i class="fa-regular fa-eye-slash ct_show_eye text-white ct_text_op_05"></i> -->
                                    <i class="fa-regular ct_show_eye text-white ct_text_op_05 ct_color"
                                        style="cursor: pointer;"
                                        [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"
                                        (click)="togglePasswordVisibility()"></i>
                                </div>
                                <span class="ct_text_red mt-2">{{validationErrorService.getErrorMessage('Password',
                                    Form.get('password'))}}</span>
                            </div>
                            <div>
                                <a routerLink="/forgot-password" class="ct_forgot_link">Forgot
                                    password?</a>
                            </div>
                            <div class="mt-5">
                                <app-submit-button [isLoading]="isLoading" [text]="'Log In'"
                                    [class]="'ct_dark_green_btn w-100'"></app-submit-button>
                            </div>
                        </form>
                    </div>
                    <div class="ct_login_left_img">
                        <img src="assets/img/login_right_img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>