<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between mb-3 ct_flex_col_575 gap-3">
                    <h4 class="ct_fs_28 ct_fw_600 mb-0 ct_ff_Rajdhani">User Management</h4>
                    <div class="d-flex align-items-center gap-2 ct_w_100_575">
                        <div class="ct_search ct_w_100_575">
                            <input type="text" class="form-control" placeholder="Search by user name..." />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>

                    </div>
                </div>
                <div class="table-responsive ct_custom_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>User Name</th>
                                <th>Email Id </th>
                                <th>Date Joined</th>
                                <th>Status</th>
                                <th>Block</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Alton Rodriguez</td>
                                <td>
                                    <span class="ct_overlay_text">tim.jenningsexample.com</span>
                                </td>
                                <td>Feb 23, 2024</td>
                                <td>
                                    <span class="ct_green_clr ct_fw_600">Active</span>
                                </td>
                                <td>
                                    <label class="toggle-switch">
                                        <input type="checkbox">
                                        <div class="toggle-switch-background">
                                            <div class="toggle-switch-handle"></div>
                                        </div>
                                    </label>
                                </td>
                                <td>
                                    <a routerLink="/home/view-user" class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Alton Rodriguez</td>
                                <td>
                                    <span class="ct_overlay_text">tim.jenningsexample.com</span>
                                </td>
                                <td>Feb 23, 2024</td>
                                <td>
                                    <span class="ct_green_clr ct_fw_600">Active</span>
                                </td>
                                <td>
                                    <label class="toggle-switch">
                                        <input type="checkbox">
                                        <div class="toggle-switch-background">
                                            <div class="toggle-switch-handle"></div>
                                        </div>
                                    </label>
                                </td>
                                <td>
                                    <a href="view-user-details.html" class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Alton Rodriguez</td>
                                <td>
                                    <span class="ct_overlay_text">tim.jenningsexample.com</span>
                                </td>
                                <td>Feb 23, 2024</td>
                                <td>
                                    <span class="ct_green_clr ct_fw_600">Active</span>
                                </td>
                                <td>
                                    <label class="toggle-switch">
                                        <input type="checkbox">
                                        <div class="toggle-switch-background">
                                            <div class="toggle-switch-handle"></div>
                                        </div>
                                    </label>
                                </td>
                                <td>
                                    <a href="view-user-details.html" class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Alton Rodriguez</td>
                                <td>
                                    <span class="ct_overlay_text">tim.jenningsexample.com</span>
                                </td>
                                <td>Feb 23, 2024</td>
                                <td>
                                    <span class="ct_green_clr ct_fw_600">Active</span>
                                </td>
                                <td>
                                    <label class="toggle-switch">
                                        <input type="checkbox">
                                        <div class="toggle-switch-background">
                                            <div class="toggle-switch-handle"></div>
                                        </div>
                                    </label>
                                </td>
                                <td>
                                    <a href="view-user-details.html" class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Alton Rodriguez</td>
                                <td>
                                    <span class="ct_overlay_text">tim.jenningsexample.com</span>
                                </td>
                                <td>Feb 23, 2024</td>
                                <td>
                                    <span class="ct_green_clr ct_fw_600">Active</span>
                                </td>
                                <td>
                                    <label class="toggle-switch">
                                        <input type="checkbox">
                                        <div class="toggle-switch-background">
                                            <div class="toggle-switch-handle"></div>
                                        </div>
                                    </label>
                                </td>
                                <td>
                                    <a href="view-user-details.html" class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>