<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_575 mb-4">
                    <h4 class="d-flex align-items-center gap-2 ct_fw_600 ct_ff_Rajdhani mb-0"><a
                            routerLink="/home/post-management" class="ct_black_text"><i
                                class="fa-solid fa-angle-left"></i></a>Post Details</h4>
                    <button class="ct_outline_btn ct_border_radius_5">Delete Post</button>
                </div>


                <div class="ct_white_bg ct_box_shadow p-4 h-auto">
                    <div class="d-flex align-items-center gap-3 mb-3">
                        <img src="assets/img/user.jpg" alt="" class="ct_img_40 ct_cursor_pointer" data-bs-toggle="modal"
                            data-bs-target="#full_view_img">
                        <div>
                            <h5 class="ct_fs_18 ct_fw_600 mb-0 ct_ff_lato">George Lobko</h5>
                            <p class="mb-0 ct_text_666 ct_fw_600 ct_fs_14">Augusta National</p>
                        </div>
                    </div>
                    <div class="ct_post_slider_img mb-3">
                        <img src="assets/img/post_img.jpg" alt="">
                    </div>

                    <p class="ct_fs_18 mb-0">Finally nailed that long drive today — everything just clicked! Felt like a
                        pro out there with the driver on point. 💥</p>
                    <p class="mb-0">🏌️‍♂️ <span class="ct_green_clr">#OnlyGolf #FairwayGoals #GolfLife
                            #DriverLockedIn</span></p>

                    <ul class="d-flex align-items-center gap-3 flex-wrap mt-3">
                        <li class="d-flex align-items-center gap-2">
                            <i class="fa-regular fa-heart"></i>
                            54
                        </li>
                        <li class="d-flex align-items-center gap-2">
                            <i class="fa-regular fa-comment"></i>
                            12
                        </li>
                        <li class="d-flex align-items-center gap-2">
                            <i class="fa-regular fa-eye"></i>
                            96
                        </li>
                    </ul>
                    <!-- show this div when click on chat icon -->
                    <div class="ct_comment_area_main mt-4 d-none ">
                        <h4 class="ct_fs_20 ct_fw_600 mb-3">Comments</h4>
                        <div class="ct_comment_area_scroll">
                            <div class="d-flex justify-content-between gap-2 mt-3 pb-3 ct_border_btm_1">
                                <div class="d-flex  gap-3 ">
                                    <img src="assets/img/user.jpg" alt="" class="ct_img_40  ct_white_border_1">
                                    <div style="flex: 1;">
                                        <div class="d-flex align-items-center gap-2 flex-wrap">
                                            <h5 class="ct_fs_16 ct_fw_600 mb-0">Bradford Bogisich</h5>
                                            <div class="d-flex align-items-center gap-3">

                                                <p class="mb-0  ct_fs_12  ct_text_op_5">2 days ago</p>
                                            </div>

                                        </div>
                                        <p
                                            class="ct_fs_14 mb-0 ct_para_scroll ct_custom_scroll   ct_commented_text mt-2">
                                            <span>Design Shot is an invitation to ponder cn design as a living entity.
                                                capture of embodying and
                                                influencing the flow of thoughts and sensations in</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between gap-2 mt-3 pb-3 ct_border_btm_1">
                                <div class="d-flex  gap-3 ">
                                    <img src="assets/img/user.jpg" alt="" class="ct_img_40  ct_white_border_1">
                                    <div style="flex: 1;">
                                        <div class="d-flex align-items-center gap-2 flex-wrap">
                                            <h5 class="ct_fs_16 ct_fw_600 mb-0">Bradford Bogisich</h5>
                                            <div class="d-flex align-items-center gap-3">

                                                <p class="mb-0  ct_fs_12  ct_text_op_5">2 days ago</p>
                                            </div>

                                        </div>
                                        <p
                                            class="ct_fs_14 mb-0 ct_para_scroll ct_custom_scroll   ct_commented_text mt-2">
                                            <span>Design Shot is an invitation to ponder cn design as a living entity.
                                                capture of embodying and
                                                influencing the flow of thoughts and sensations in</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between gap-2 mt-3 pb-3 ct_border_btm_1">
                                <div class="d-flex  gap-3 ">
                                    <img src="assets/img/user.jpg" alt="" class="ct_img_40  ct_white_border_1">
                                    <div style="flex: 1;">
                                        <div class="d-flex align-items-center gap-2 flex-wrap">
                                            <h5 class="ct_fs_16 ct_fw_600 mb-0">Bradford Bogisich</h5>
                                            <div class="d-flex align-items-center gap-3">

                                                <p class="mb-0  ct_fs_12  ct_text_op_5">2 days ago</p>
                                            </div>

                                        </div>
                                        <p
                                            class="ct_fs_14 mb-0 ct_para_scroll ct_custom_scroll   ct_commented_text mt-2">
                                            <span>Design Shot is an invitation to ponder cn design as a living entity.
                                                capture of embodying and
                                                influencing the flow of thoughts and sensations in</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>






            </div>

        </div>



    </div>
</div>

<!-- Image preview Modal S -->
<div class="modal fade modal-md" id="full_view_img" tabindex="-1" aria-labelledby="full_view_imgLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title ct_fs_24 ct_ff_QuattrocentoSans ct_fw_700 mb-0" id="full_view_imgLabel">
                    Image Preview
                </h5>
                <button type="button" class="btn-close ct_custom_close_img" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ct_full_view_img">
                    <img src="assets/img/user.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>