<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="d-flex align-items-center gap-2 mb-4 ct_fw_600 ct_ff_Rajdhani"><a
                        routerLink="/home/manage-legal-pages" class="ct_black_text"><i
                            class="fa-solid fa-angle-left"></i></a>Privacy Policy</h4>
                <textarea name="" id="" class="form-control ct_input h-auto" rows="10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic porro perferendis illo? Blanditiis sequi vero veritatis tempore nostrum similique tempora dignissimos quasi ab omnis unde a, totam dicta earum dolore!Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic porro perferendis illo? Blanditiis sequi vero veritatis tempore nostrum similique tempora dignissimos quasi ab omnis unde a, totam dicta earum dolore!Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic porro perferendis illo? Blanditiis sequi vero veritatis tempore nostrum similique tempora dignissimos quasi ab omnis unde a, totam dicta earum dolore!Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic porro perferendis illo? Blanditiis sequi vero veritatis tempore nostrum similique tempora dignissimos quasi ab omnis unde a, totam dicta earum dolore!
                </textarea>
                <div class="d-flex align-items-center gap-3 ct_flex_col_575 mt-4">
                    <button class="ct_dark_green_btn ct_w_100_575">Save Changes</button>
                    <a routerLink="/home/manage-legal-pages" class="ct_outline_btn ct_w_100_575">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>