<div class="ct_side_bar">
    <div class="ct_close_sidebar" (click)="toggleMenu()">
        <i class="fa-solid fa-xmark"></i>
    </div>
    <div class="ct_admin_logo">
        <img src="assets/img/logo.svg" alt="" />
    </div>
    <ul>
        <li (click)="toggleMenu()">
            <a routerLink="/home/dashboard" [ngClass]="{ 'active': isActive('/home/dashboard')}">
                <img src="assets/img/dashboard_icon.svg" alt="" />
                Dashboard
            </a>
        </li>
        <li (click)="toggleMenu()">
            <a routerLink="/home/user-management" [ngClass]="{ 'active': isActive('/home/user-management')}">
                <img src="assets/img/user_management_icon.svg" alt="" />
                User Management
            </a>
        </li>
        <li (click)="toggleMenu()">
            <a routerLink="/home/seller-management" [ngClass]="{ 'active': isActive('/home/seller-management')}">
                <img src="assets/img/seller_management_icon.svg" alt="" />
                Seller Management
            </a>
        </li>

        <li (click)="toggleMenu()">
            <a routerLink="/home/post-management" [ngClass]="{ 'active': isActive('/home/post-management')}">
                <img src="assets/img/post_management_icon.svg" alt="" />
                Post Management
            </a>
        </li>

        <li (click)="toggleMenu()">
            <a routerLink="/home/seller-payout" [ngClass]="{ 'active': isActive('/home/seller-payout')}">
                <img src="assets/img/seller_payout_icon.svg" alt="" />
                Seller Payout
            </a>
        </li>
        <li (click)="toggleMenu()">
            <a routerLink="/home/order-management" [ngClass]="{ 'active': isActive('/home/order-management')}">
                <img src="assets/img/View_Orders_icon.svg" alt="" />
                Order Management
            </a>
        </li>
        <li (click)="toggleMenu()">
            <a routerLink="/home/product-management" [ngClass]="{ 'active': isActive('/home/product-management')}">
                <img src="assets/img/Manage_Products_icon.svg" alt="" />
                Product Management
            </a>
        </li>

        <li (click)="toggleMenu()">
            <a routerLink="/home/sweepstakes" [ngClass]="{ 'active': isActive('/home/sweepstakes')}">
                <img src="assets/img/seepstackes_icon.svg" alt="" />
                Sweepstakes
            </a>
        </li>
        <li (click)="toggleMenu()">
            <a routerLink="/home/rating-reviews" [ngClass]="{ 'active': isActive('/home/rating-reviews')}">
                <img src="assets/img/Ratings_ Reviews_icons.svg" alt="" />
                Ratings & Reviews
            </a>
        </li>
        <li (click)="toggleMenu()">
            <a routerLink="/home/group-management" [ngClass]="{ 'active': isActive('/home/group-management')}">
                <img src="assets/img/group_management_icon.svg" alt="" />
                Group Management
            </a>
        </li>
        <li (click)="toggleMenu()">
            <a routerLink="/home/revenue" [ngClass]="{ 'active': isActive('/home/revenue')}">
                <img src="assets/img/revenue_icon.svg" alt="" />
                Revenue
            </a>
        </li>
        <li (click)="toggleMenu()">
            <a routerLink="/home/marketplace-sales" [ngClass]="{ 'active': isActive('/home/marketplace-sales')}">
                <img src="assets/img/market_sales_icon.svg" alt="" />
                Marketplace Sales
            </a>
        </li>
        <li (click)="toggleMenu()">
            <a routerLink="/home/support" [ngClass]="{ 'active': isActive('/home/support')}">
                <img src="assets/img/support_icon.svg" alt="" />
                Support
            </a>
        </li>
        <li (click)="toggleMenu()">
            <a routerLink="/home/manage-legal-pages" [ngClass]="{ 'active': isActive('/home/manage-legal-pages')}">
                <img src="assets/img/manage-legal-flags.svg" alt="" />
                Manage Legal Pages
            </a>
        </li>
    </ul>
</div>