<section class="ct_login_bg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-xl-10 col-lg-10 col-md- mx-auto">
                <div class="ct_login_white_bg ct_mt_60 ct_mb_60">

                    <div class="ct_login_form position-relative">

                        <div class="text-center">
                            <h4 class="ct_fs_28 ct_fw_700 ct_ff_Rajdhani">Reset Password</h4>
                            <p class="ct_text_op_07  mb-0">OTP is sent to
                                <br> {{userEmail}}
                            </p>
                        </div>
                        <form [formGroup]="Form" (ngSubmit)="onSubmit()">

                            <div class="form-group mb-4 ct_otp_inputs">
                                <nz-flex nzVertical [nzGap]="20">
                                    <nz-flex nzVertical>
                                        <!-- <label for="" class="mb-2 ">OTP</label> -->
                                        <nz-input-otp formControlName="otp" [nzLength]="4" [nzSize]="'default'">
                                        </nz-input-otp>
                                        <span class="ct_text_red mt-2">
                                            {{ validationErrorService.getErrorMessage('OTP', Form.get('otp')) }}
                                        </span>
                                    </nz-flex>
                                </nz-flex>
                            </div>

                            <div class="form-group mb-3">
                                <label for="" class="ct_fw_400 mb-2 ct_text_666 ">Password</label>
                                <div class="position-relative">
                                    <input type="{{ isPasswordVisible ? 'text' : 'password' }}"
                                        class="form-control ct_input ct_border_grey ct_input_ps_50"
                                        placeholder="Enter password" formControlName="password">
                                    <i class="fa-regular ct_show_eye text-white ct_text_op_05 ct_color"
                                        style="cursor: pointer;"
                                        [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"
                                        (click)="togglePasswordVisibility()"></i>
                                    <img src="assets/img/circum_lock.svg" alt="" class="ct_input_left">
                                </div>
                                <span class="ct_text_red mt-2">{{validationErrorService.getErrorMessage('Password',
                                    Form.get('password'))}}</span>
                            </div>

                            <div class="mt-5">
                                <app-submit-button [isLoading]="isLoading" [text]="'Submit'"
                                    [class]="'ct_dark_green_btn w-100'"></app-submit-button>
                            </div>
                            <p class="mb-0 mt-2 text-center ">Didn't get OTP? <a (click)="resendOtp()"
                                    class="ct_forgot_link ct_fw_600">Resend</a></p>

                            <div class="ct_back_to_login mt-4 text-center">
                                <a routerLink="/" class="ct_fs_18">Back to Login</a>
                            </div>
                        </form>
                    </div>
                    <div class="ct_login_left_img">
                        <img src="assets/img/login_right_img.png" alt="">
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<div class="ct_loader_main" *ngIf="isLoadingResend">
    <img src="assets/img/loader.gif" alt="">
</div>