.ct_text_red {
    color: rgb(180, 0, 0);
    text-align: center;
}



.ct_back_to_login a {
    color: #000;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    white-space: nowrap;
    font-weight: 600;
}

.ct_back_to_login a:hover {
    color: #0bbe96;
}